<mat-card>
    <mat-card-title>
        <div fxFlex="grow" fxLayout="row" fxLayoutAlign="center center">
            <div>
                <span>Detalles libros por autor: {{ nombreAutor | uppercase }}</span>
            </div>
        </div>
    </mat-card-title>

    <hr>
    <br>

    <ng-container *ngIf="!libros || libros.length === 0; else datos">
        <app-spinner [lista]="libros"></app-spinner>
    </ng-container>

    <ng-template #datos>
        <p-table [value]="libros" #dt [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
            responsiveLayout="scroll" currentPageReportTemplate="Viendo de {first} a {last} de {totalRecords} libros"
            [rowsPerPageOptions]="[10,25,50]" [globalFilterFields]="['isbn','titulo','n_paginas','editoriales_id']">
            <ng-template pTemplate="caption">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxFlex="90">
                        <app-input-filtro [dt]="dt"></app-input-filtro>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>ISBN</th>
                    <th>Titulo</th>
                    <th>Sinopsis</th>
                    <th style="text-align: center"># Paginas</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-libro>
                <tr>
                    <td>{{ libro.isbn }}</td>
                    <td>{{ libro.titulo }}</td>
                    <td>{{ libro.sinopsis}}</td>
                    <td style="text-align: center">{{ libro.n_paginas}}</td>
                </tr>
            </ng-template>
        </p-table>
    </ng-template>

</mat-card>